<!DOCTYPE html>
<html lang="ro" class="5">
<head>
    
  
    <meta name="keywords" content="dramă,science-fiction,supereroi,film,franciza,producător,2023">
    <meta name="description" content="Site Web">
    <title>Site Web</title>
   
    <%- include("../fragmente/head.ejs") %>
</head>
<body>

    <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid-pagina">
            <section id="filme-anticipate">
                <h2>Noutati</h2>
                <h3>Cele mai anticipate filme in 2022-2023</h3>
                    <section>
                        <h4>Avatar 2</h4>
                        <figure>
                            <img src="resources/img/avatar2.jpg" alt="Avatar 2"  style="max-width: 200px;height: auto;">
                            <figcaption>Avatar2</figcaption>
                        </figure>
                        <p>
                            <i><b>Avatar: The Way of Water</b></i> este un viitor film american de science-fiction , epic , regizat de James Cameron și produs de 20th Century Studios .Este al doilea film din franciza Avatar a lui Cameron , după Avatar (2009).
                        </p>
                        <details>
                            <summary>Rezumat</summary>
                            <p>
                                Situat la mai bine de un deceniu după evenimentele din primul film, povestea se desfasoara in jurul familiei Sully, necazurile care îi urmează, eforturile pe care le fac pentru a se menține în siguranță, bătăliile pe care le duc pentru a rămâne în viață și tragediile pe care le îndură.
                                James Cameron despre Avatar 2:  <q>Cred că este foarte emoționant. Cred că este mai emoționant decât primul film. Cred că se concentrează mai mult pe caracter și pe dinamica relațiilor decât a făcut-o primul film, dar cu siguranță oferă spectacolul.</q>
                            </p>
                        </details>
                        <br/>

                        <div class="flexbox">
                            <div class = "inline">
                                <div class = "rectangle_link">
                                    <br/>
                                    &nbsp; <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/qMy5oQiA2W8">Trailer 1</a>
                            
                                </div>

                                <div class="rectangle_link">
                                    <br/>
                                    &nbsp; <a class = "ylink" target = "myiframe" href = "https://www.youtube.com/embed/d9MyW72ELq0">Trailer 2</a>
                                </div>
                            </div>

                            <div class = "inline">
                                <iframe name = "myiframe" width="560" height="315" src="https://www.youtube.com/embed/qMy5oQiA2W8" frameborder="0"></iframe>
                            </div>
                        </div>

                        
                    </section>
                    <hr class="hr1">
                    <section>
                        <h3>Ant-Man and The Wasp: Quantumania(2022)</h3>
                        <figure>
                            <img src="resources/img/ant-man.jpg" alt="Ant-Man and The Wasp: Quantumania"  style="max-width: 200px;height: auto;">
                            <figcaption>Ant-Man and The Wasp: Quantumania</figcaption>
                        </figure>
                        <p>
                            <i><b>Ant-Man and the Wasp: Quantumania</b></i> este un viitor film american de supereroi bazat pe Marvel Comics , cu personajele Scott Lang / Ant-Man și Hope Pym / Wasp . Produs de Marvel Studios și distribuit de Walt Disney Studios Motion Pictures , acesta se dorește a fi continuarea filmelor <i>Ant-Man</i> (2015) și <i>Ant-Man and the Wasp</i> (2018) și al 31-lea film din Marvel Cinematic Universe (MCU).
                        </p>
                        <details>
                            <summary>Rezumat</summary>
                            <p>
                                După evenimentele din <a href="https://en-m-wikipedia-org.translate.goog/wiki/Avengers:_Endgame?_x_tr_sl=en&_x_tr_tl=ro&_x_tr_hl=ro&_x_tr_pto=sc"><i>Avengers: Endgame (2019)</i></a>, Scott Lang și Hope van Dyne , împreună cu părinții lui Hope, Hank Pym și Janet van Dyne , și fiica lui Scott, Cassie , sunt trimiși accidental pe tărâmul cuantic . Familia se trezește în curând explorând tărâmul cuantic, interacționând cu noi creaturi ciudate, personaje pe care Janet le-a întâlnit anterior și pornind într-o aventură care îi va împinge dincolo de limitele a ceea ce credeau că este posibil.
                            </p>
                        </details>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/FX0qc6mrNTM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
                    <section>
                        <h3>Creed 3(2023)</h3>
                        <figure>
                            <img src="resources/img/creed_3.webp" alt="creed 3"  style="max-width: 200px;height: auto;">
                            <figcaption>Creed 3</figcaption>
                        </figure>
                        <a href="resources/img/creed_3.webp" download>Link descarcare poster</a>
                        <p>
                            <i><b>Creed III</b></i> este un viitor film dramă sportivă americană regizat de Michael B. Jordan (în debutul său regizoral). În continuarea lui <i>Creed II</i> (2018) și a noua ediție din franciza Rocky , acesta este primul film din franciză fărăca Sylvester StalloneRocky Balboa , deși încă servește ca producător pentru bannerul său Balboa Productions .
                            <i>Creed III</i> este programat să fie lansat în Statele Unite pe 3 martie 2023, de către United Artists Releasing .
                        </p>
                        <details>
                            <summary>Rezumat</summary>
                            <p>    
                                La cinci ani după <a href="https://en-m-wikipedia-org.translate.goog/wiki/Creed_II?_x_tr_sl=en&_x_tr_tl=ro&_x_tr_hl=ro&_x_tr_pto=sc"><i>Creed II</i></a> , după ce a dominat lumea boxului , Adonis „Donnie” Creed a prosperat atât în carieră, cât și în viața de familie. <br/>Când un prieten din copilărie și fost minune al boxului , Damian „Dame” Anderson , reapare după ce a ispășit o lungă pedeapsă în închisoare , el este dornic să demonstreze că își merită lovitura în ring. Confruntarea dintre foști prieteni este mai mult decât o ceartă. Pentru a stabili scorul, Donnie trebuie să-și pună viitorul în joc pentru a se lupta cu Dame un luptator care nu are nimic de pierdut.
                            </p>
                        </details>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/AHmCH7iB_IM" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>
            </section>
            
    
            <section id="fav-fanilor">
                <h2>Galerie</h2>
                <div id="grid-galerie">
                    <% for(let imag of locals.imagini){%>
                        <figure class="poza">
                            <img src="<%-imag.fisier %>" alt="imagine">
                            <figcaption><%- imag.descriere %></figcaption>
                        </figure>
                    <%} %>
                </div>
            <h2>Favoritele fanilor</h2>
            
            <div class="row">
            <div class="column">
            
                <img src="resources/img/dahmer.jpg" alt="Monster:The Jeffrey Dahmer Story" style="width: 100%" class="image">
                <div class="overlay">
                    <img style="width: 100%" class="text">
                </div>
                <div class="overlay2">
                    <img style="width: 100%" class="text">
                </div>
            </div>
            <div class="column">
                <img src="resources/img/house_of_the_dragon.jpg" alt="House of Dragons" style="width:100%" class="image">
                <div class="overlay">
                    <img style="width:100%" class="text">
                </div>
                <div class="overlay2">
                    <img style="width:100%" class="text">
                </div>
            </div>
            <div class="column">
                <img src="resources/img/breakin_bad.jpg" alt="Breaking" style="width:100%" class="image">
                <div class="overlay">
                    <img style="width:100%" class="text">
                </div>
                <div class="overlay2">
                    <img style="width:100%" class="text">
                </div>
            </div>
            <div class="column">
                <img src="resources/img/mandalorian.jpg" alt="The Mandalorian" style="width:100%" class="image">
                <div class="overlay">
                    <img  style="width:100%" class="text">
                </div>
                <div class="overlay2">
                    <img  style="width:100%" class="text">
                </div>
            </div>
            <div class="column">
                <img src="resources/img/game_of_thrones.jpg" alt="Game of Thrones" style="width:100%" class="image">
                <div class="overlay">
                    <img style="width:100%" class="text"> 
                </div>
                <div class="overlay2">
                    <img  style="width:100%" class="text"> 
                </div>
            </div>
            <div class="column">
                <img src="resources/img/stranger_things2.jpg" alt="Stranger Things" style="width:100%" class="image">
                <div class="overlay">
                    <img  style="width:100%" class="text">
                </div>
                <div class="overlay2">
                    <img  style="width:100%" class="text">
                </div>
            </div>
            </div>
            </section> 
            
            <section id="zona2">
                <br/>
                <br/>
                <table class="tabel">
                    <thead>
                      <tr>
                        <td class="impar">Film</td>
                        <td class="par">Pret Bilet</td>
                        <td class="impar">Data aparitiei</td>
                        <td class="par">Rating IMDb</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="impar">Film 1</td>
                        <td class="par">$100</td>
                        <td class="impar">1-12-2023</td>
                        <td class="par">8.5</td>
                      </tr>
                      <tr>
                        <td class="impar">Film2</td>
                        <td class="par">$80</td>
                        <td class="impar">1-12-2023</td>
                        <td class="par">8.5</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="impar">Film 4</td>
                        <td class="par">$180</td>
                        <td class="impar">1-12-2023</td>
                        <td class="par">8.5</td>
                      </tr>
                    </tfoot>
                  </table>
            </section>
            <section id="zona3">
                <h2>Anunțuri</h2> 
            </section>
            <section id="zona4">
                <h2>Noutati</h2>
                <figure>
                    <img src="resources/img/Richard-JohnWick.webp" alt="John-Wick"  style="max-width: 200px;height: auto;">
                </figure>

                <p>Keanu Reeves va aparea in spinoff-ul lui John Wick Ballerina</p>

                <figure>
                    <img src="resources/img/23kimmel-mediumSquareAt3X.jpg" alt="Jimmy KImmel"  style="max-width: 200px;height: auto;">
                </figure>

                <p>Jimmy Kimmel va fi gazda celei de a 95 a editie a Oscarurilor care va avea loc in martie</p>

                <figure>
                    <img src="resources/img/godzilla2014.avif" alt="Godzilla"  style="max-width: 200px;height: auto;">
                </figure>

                <p>Toho confirmă noul film Godzilla pentru 2023</p>

                <figure>
                    <img src="resources/img/GettyImages-1402398204-1.webp" alt="Goldblum"  style="max-width: 200px;height: auto;">
                </figure>

                <p>Jeff Goldblum va fi Vrăjitorul din Oz al filmului Wicked</p>
            </section>
            <section id="zona5">
                <h2>Text</h2>
            </section>
            <section id="zona6">
                <h2>Text</h2>
            </section>
            <section id="zona7">
                <h2>Text</h2>
            </section>
        </div>  
    </main>
    <%- include("../fragmente/footer.ejs") %>
    <style type="text/css"></style>
    <div id="watermark">
      <p>Nae Mircea Stefan</p>
    </div>
</body>
</html>     